.logo-rs {
    background: #006D80;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 13%;
    padding-right: 2%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .logo {
    padding: 0.5em;
  }
  
  .bloc {
    padding: 0 !important;
  }
  
  