/* style css composent Login */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
  }
  
  .login-content {
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .form-login {
    width: 360px;
  }
  
  .login-content img {
    height: 100px;
  }
  
  .login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
  }
  
  .login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .login-content .input-div.one {
    margin-top: 0;
  }
  
  .i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i i {
    transition: 0.3s;
  }
  
  .input-div > div {
    position: relative;
    height: 45px;
  }
  
  .input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .input-div:before,
  .input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
  }
  
  .input-div:before {
    right: 50%;
  }
  
  .input-div:after {
    left: 50%;
  }
  
  .input-div.focus:before,
  .input-div.focus:after {
    width: 50%;
  }
  
  .input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
  }
  
  .input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "poppins", sans-serif;
  }
  
  .input-div.pass {
    margin-bottom: 4px;
  }
  
  .link-hover-login {
    display: block;
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  
  .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    background-color: black !important;
    border: 1px solid black ! important;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-top: 3% !important;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-position: right;
  }
  
  .buttonUser {
    margin-top: 20px;
  }
  
  .link-hover-login {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .button-envoyer{
    margin-bottom: 5vh !important;
  }
  .button-envoyer :hover{
    background-color: grey;
    width: 40%;
  }
  /* .buttonUser :hover{
    background-color: grey;
  } */
  
  @media screen and (max-width: 1050px) {
    .container {
      grid-gap: 5rem;
    }
    .login-content {
      margin-top: 20%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    form {
      width: 290px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 43%;
    }
    .login-content h2 {
      font-size: 2.4rem;
      margin-top: 20%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .container {
      grid-template-columns: 1fr;
      
    }
    .wave {
      display: none;
    }
    .login-content {
      justify-content: center;
      margin-bottom: 80%;
    }
  }
  